* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.all-content {
    background: #b2744c;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #b2744c;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}

#navbar {
    background-color: #b2744c;
}

#logo img {
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item .nav-link {
    color: black;
    margin-left: 10px;
    font-weight: 500;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}

#navbar form button {
    background: black;
    color: #f7f5f2;
    border: 1px solid white;
}

/* HOME */
#home .content {
    padding-top: 210px;
    margin-left: 56px;
}

#home .content h3 {
    font-size: 50px;
    color: white;
}

#home .content p {
    margin-top: 10px;
    color: white;
}

#btn {
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover {
    background-color: #b2744c;
    color: white;
}

/* ABOUT */
#about {
    width: 100%;
    height: 100vh;
}

#about .container {
    padding-top: 70px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
}

.heading span {
    color: #b2744c;
}

#about .card,
#about .card img {
    border-radius: 10px;
}

#about-btn {
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

#about-btn:hover {
    background-color: #b2744c;
    color: white;
}

/* TOP CARDS */
.top-cards {
    width: 100%;
    background-color: #f7f5f2;
}

.top-cards .card {
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.top-cards .card img {
    border-radius: 10px;
}

.top-cards .card:hover {
    transform: translateY(-10px);
}

/* MENU */
.heading3 {
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}

#container2 {
    margin: 50px;
}

#menu .card {
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.star i {
    color: #b2744c;
}

#menu h3 {
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}

#menu p {
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
}

#menu p span {
    float: right;
    cursor: pointer;
}

/* PRODUCT */
#product h3 {
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}

#product p {
    color: #b2744c;
    padding-top: 10px;
}

#product p span {
    float: right;
    cursor: pointer;
}

/* GALLERY */
#gallary .card,
#gallary .card img {
    border-radius: 10px;
}

/* CONTACT */
#contact {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

#contact .container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}

.heading6 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

.heading6 span {
    color: #b2744c;
}

#contact input {
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}

#contact-btn {
    width: 200px;
    height: 36px;
    border: none;
    background-color: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

#col {
    background-color: black;
    margin-top: 78px;
    padding: 20px;
}

#contact #col p,
#contact h1 {
    color: white;
}

/* BLOGS */
#blogs {
    width: 100%;
}

#blogs h5 {
    color: #b2744c;
}

#blogs .container {
    margin-top: 60px;
}

/* FOOTER */
#footer {
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}

.footer-logo img {
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

#footer .social-links i {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
}